## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
.next/
node_modules/
coverage/
*.tsbuildinfo
.env*
!.env.example

## Rider
.idea/

## Visual Studio Code
.vscode/

## OS files
.DS_Store
Thumbs.db

## Logs

## NuGet
packages/

## Test results
TestResults/

## JetBrains
/.idea

## Others
*.vsix
.vercel
.env*
